.header {

  @include hd-screen {
    .container div {
      flex-direction: column;
      align-items: center;
    }
  }


  @media (max-width: $br2) {
    .container div {
      flex-direction: column;
      align-items: center;
    }
  }

}
