body {
  position: relative;

  font-family: $main-font-family, sans-serif;
  font-size: $font-md;
  font-weight: $font-regular;
  line-height: 1.2;
  color: $main-font-color;
}

h1 {
  font-size: $font-xxl;
  font-weight: $font-medium;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

a {
  @extend %default-transition;

  display: inline-block;
  text-decoration: none;

  &.default:hover {
    color: $accent-color;
  }

  &.blue {
    color: $accent-color;

    &:hover {
      color: $additional2-font-color;
    }
  }
}


.btn {
  padding: 14px 61px;

  color: $additional-font-color;

  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: $default-border-radius $big-border-radius;

  &:hover {
    background-color: $additional2-font-color;
    border-color: $additional-font-color;
  }
}



@media (max-width: $container-width) {
  .container {
    max-width: 800px;
  }
}
