%default-transition {
  transition: 0.3s;
}

%default-border-radius {
  border-radius: $default-border-radius;
}

%bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%height100 {
  height: 100%;
}

%terms {
  form {
    display: flex;
    gap: 10px;
    max-width: 520px;

    label {
      font-size: $font-sm;
      font-weight: $font-light;
      color: $additional-font-color;
    }
  }
}
